/* general and layout */
a:focus {
  box-shadow: none;
}
div.container {
  max-width: 100%;
  position: fixed;
  height: 100%;
  padding: 0;
}
div.columns {
  margin: 0;
}
div.column {
  padding: 0;
}

/* sidebar */
#sidebar {
  background: #aaa2;
  height: 100%;
}
#sidebar .logo {
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 24px 0;
  font-weight: bold;
  color: #5755d9;
  text-transform: uppercase;
  top: 0px;
  left: 0px;
}
#sidebar .nav.main {
  padding-left: 1em;
}
#sidebar .nav .nav-item a {
  color: #667189;
  padding: 0 0.2em 0 0;
  text-decoration: none;
  text-indent: 0em;
  font-size: 0.8em;
}
#sidebar .nav .nav-item a:hover {
  color: #5755d9;
}
#sidebar .nav .nav-item a.hover {
  font-weight: bold;
  color: #5755d9;
}

/* content */
#content {
  overflow-y: scroll;
  height: 100%;
  padding: 0em;
}
/* content - banner */
#content #banner {
  text-align: center;
  position: relative;
  padding: 3em 0;
  background: linear-gradient(234deg, #04034d, #2f2da0, #04034d);
}
#content #banner h1 a,
#banner h1 a:visited {
  font-size: 1em;
  color: #fff;
  display: block;
  text-decoration: none;
}
#content #banner h4 {
  color: #eee;
}
/* content - spa - section */
#content #spa section {
  margin: 0;
}
/* content - spa - section - left */
#content #spa section .column.left {
  border-bottom: 1px solid #0001;
}
#content #spa section .column.left h4 {
  padding: 1em;
}
#content #spa section .column.left p {
  padding: 0em 4em 0em 4em;
  font-size: 0.9em;
}
#content #spa section .column.left .example {
  margin: 2em;
  padding: 1.2em;
  background: #5755d910;
}
#content #spa section .column.left .example p {
  padding-left: 0;
  margin-top: 0.5em;
}

/* content - spa - section - right */
#content #spa section .column.right {
  background: rgb(45, 45, 45);
}
#content #spa section .column.right .tab {
  background: #5755d9bb; /* #FFF1; */
  margin: 0;
  color: #fffa;
  border: none;
  padding-top: 1em;
  font-size: 0.9em;
  outline: none;
}
#content #spa section .column.right .tab .tab-item a {
  border-bottom: 6px solid #0000;
}
#content #spa section .column.right .tab .tab-item.active a.active,
#content #spa section .column.right .tab .tab-item.active a.active:focus,
#content #spa section .column.right .tab .tab-item:hover a {
  color: #fff;
  border-bottom: 6px solid #fff5;
}
#content #spa .column.right dd {
  margin: 0;
  font-size: 0.8em;
}
#content #spa section .column.right pre code {
  padding: 0;
}

/* content - spa - section - doc */
#content #spa section .column.doc h4 {
  padding: 1em;
}
#content #spa section .column.doc .markdown {
  margin: 1em 2em;
}
#content #spa section .column.doc .markdown p,
#content #spa section .column.doc .markdown ul,
#content #spa section .column.doc .markdown table {
  font-size: 0.9em;
}
#content #spa section .column.doc .markdown h1,
#content #spa section .column.doc .markdown h2 {
  font-size: 1.1em;
}
#content #spa section .column.doc .markdown h3,
#content #spa section .column.doc .markdown h4 {
  font-size: 1em;
}
#content #spa section .column.doc .markdown pre {
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.6em;
}
#content #spa section .column.doc .markdown code {
  font-size: .8em;
  overflow-x: auto;
  padding: 0;
  color: #333;
  background: #f8f8f8;
}
